:root {
  --green: #00CA00;
}

.keyboard {
  background: #E0E1DB;
  box-shadow: inset #fff -10px 0 15px -5px,
              inset #fff 10px 0 15px -5px,
              inset black 0 -10px 50px -20px,
              inset black 0 10px 50px -20px;
  & > .row {
    & button {
      background: #232527;
      color: color(white alpha(80%));
      box-shadow: 0 -1px 3px 0 white;
      border-bottom: 3px solid black;

      &:focus {
        color: color(white alpha(90%));
      }

      &.active,
      &:active {
        box-shadow: 0 -1px 2px 0 white;
      }

      & > .indicator {
        opacity: .75;
        transition: .5s ease color, .5s ease opacity;
      }

      &.active {
        & > .indicator {
          opacity: 1;
          color: var(--green);
        }
      }
    }
  }
}